@charset "UTF-8";


.brc-link {
    color: #7fad39 !important;
    text-decoration: none;
}

.brc-link:hover{
	text-decoration: underline;
}

.btn-custom{
	background-color: #7fad39 !important;
	font-weight: 600;
	color: white;
}