<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean id="ecofarm" class="ecofarm.bean.Company">
		<property name="logoNavImg" value="assets/user/img/logo.png" />
		<property name="sliderImg"
			value="assets/user/img/hero/banner.jpg" />
		<property name="banner1"
			value="assets/user/img/banner/banner-1.jpg" />
		<property name="banner2"
			value="assets/user/img/banner/banner-2.jpg" />
		<property name="phoneNumber" value="(+84) 123456789" />
		<property name="gmail" value="noreplymail1249@gmail.com" />
		<property name="address" value="97 Man Thiện" />
		<property name="openTime" value="8:00" />
		<property name="closeTime" value="21:00" />
	</bean>

	<!-- CSDL -->
	<bean id="ProductDAO" class="ecofarm.DAOImpl.ProductDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="CategoryDAO" class="ecofarm.DAOImpl.CategoryDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="CartDAO" class="ecofarm.DAOImpl.CartDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="AccountDAO" class="ecofarm.DAOImpl.AccountDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="OrderDAO" class="ecofarm.DAOImpl.OrderDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="WishlistDAO" class="ecofarm.DAOImpl.WishlistDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="FeedbackDAO" class="ecofarm.DAOImpl.FeedbackDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="ProfileDAO" class="ecofarm.DAOImpl.ProfileDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>