<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Cấu hình interceptor -->

	<mvc:interceptors>
		

		<mvc:interceptor>
			<!-- CHƯA đăng nhập thì KHÔNG được truy cập URL bên dưới -->
			<mvc:mapping path="/admin/**" />
			<bean class="ecofarm.interceptor.AdminInterceptor" />
		</mvc:interceptor>
		
		<mvc:interceptor>
			<!-- CHƯA đăng nhập thì KHÔNG được truy cập URL bên dưới -->
			<mvc:mapping path="/employee/**" />
			<bean class="ecofarm.interceptor.EmployeeInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/login.htm"/>
			<mvc:mapping path="/register.htm"/>
			<bean class="ecofarm.interceptor.LoginUserInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/AddCart.htm"/>
			<mvc:mapping path="/DeleteCart.htm"/>
			<mvc:mapping path="/cart.htm"/>
			<mvc:mapping path="/wishlist.htm"/>
			<mvc:mapping path="AddWishlist.htm"/>
			<mvc:mapping path="/DeleteWishlist.htm"/>
			<mvc:mapping path="EditCart.htm"/>
			<mvc:mapping path="/addFeedback.htm"/>
			<mvc:mapping path="/EditFeedback.htm"/>
			<mvc:mapping path="/account/ProfilePage.htm"/>
			<mvc:mapping path="/DeleteAddress.htm"/>
			<bean class="ecofarm.interceptor.UserInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/addFeedback.htm"/>
			<mvc:mapping path="/EditFeedback.htm"/>
			<bean class="ecofarm.interceptor.FeedbackInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>


</beans>